.about {
  margin: auto;
}

.about__title {
  font-size: 25px;
  line-height: 30px;
  text-align: left;
}

.about__list {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .about__wrapper {
    width: 668px;
    margin: auto;
  }

  .about__list {
    display: flex;
  }
}
