.catalog {
  width: 100%;
}

.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.catalog__list {
  @include reset-list;
  padding-bottom: 30px;
}

.catalog__item {
  padding-top: 30px;
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    width: 668px;
    margin: 0 auto;
  }

  .catalog__item {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    width: 1050px;
    margin: 0 auto;
  }

  .catalog__list {
    display: flex;
  }
}
