.catalog__wrapper {
  display: flex;
  flex-direction: column;
}

.catalog__list {
  @include reset-list;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.catalog__item {
  padding-top: 30px;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
  }
}
