.catalog {
  width: 100%;
}

.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.catalog__list {
  @include reset-list;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .catalog__wrapper {
    width: 668px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

  .catalog__item {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-top: 60px;
  }

  .catalog__wrapper {
    width: 1050px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }
}
