.comment__text {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  padding-bottom: 38px;
}

.comment__name {
  margin: 0;
  display: flex;
  font-size: 17px;
  font-style: normal;
  line-height: 24px;
  padding-top: 20px;
  font-weight: 700;
}

.comment__profile {
  font-size: 17px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .comment__text {
    width: 650px;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 40px;
    margin-top: 0;
  }

  .comment__info {
    order: 4;
    width: 254px;
  }

  .comment__name {
    font-size: 18px;
  }

  .comment__profile {
    display: flex;
    padding-top: 4px;
  }
}

@media (min-width: $desktop-width) {
  .comment__text {
    width: 770px;
    padding-bottom: 20px;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
  }
}
