.contacts {
  padding-top: 40px;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
}

.contacts__map {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 457px;
  margin: 0 auto;
  margin-bottom: 38px;
  background-color: #fbfbfb;
}

.contacts__map::after {
  content: "";
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-31%, -84%);

  width: 67px;
  height: 100px;
  background-image: url("../img/icon-map-pin.svg");
  background-repeat: no-repeat;
}

.contacts__map iframe {
  position: absolute;
  width: 100%;
  height: 457px;
}

.contacts__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 40px;
}

.contacts__title {
  margin: 0;
  padding-top: 48px;
  padding-bottom: 26px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  margin-bottom: 38px;
}

.contacts__e-mail {
  display: flex;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.01em;
}

.contacts__address {
  display: flex;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.01em;
}

.contacts__value {
  margin: 0;
  padding-left: 33px;
}

.contacts__link {
  position: relative;
  text-decoration: none;
  color: #000000;
}

.contacts__link:hover,
.contacts__link:focus {
  color: #46c1ae;
}

.contacts__link:active {
  color: #46c1ae;
  opacity: 0.3;
}

.contacts__link::after {
  content: "";

  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;

  background-color: #62d1ba;
}

.contacts__link:hover:after {
  background-color: #46c1ae;
}

.contacts__link:focus:after {
  background-color: #46c1ae;
}

.contacts__link:active::after {
  width: 88%;
}

.contacts__button {
  width: 260px;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 56px;
  }

  .contacts__container {
    position: relative;
    width: 668px;
    margin: 0 auto;
  }

  .contacts__container::before {
    content: "";
    position: absolute;
    top: 56px;
    right: 4px;
    width: 46px;
    height: 81px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-size: 46px 81px;
  }

  .contacts__title {
    margin-left: -5px;
    padding-top: 72px;
    padding-bottom: 49px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    display: flex;
    flex-direction: row;
    margin-bottom: 58px;
  }

  .contacts__value {
    padding-left: 25px;
  }

  .contacts__e-mail {
    padding-right: 56px;
  }

  .contacts__e-mail,
  .contacts__address {
    display: flex;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__link::after {
    content: "";

    position: absolute;
    height: 1px;

    background-color: #46c1ae;
  }

  .contacts__map {
    width: 100%;
    margin: 0;
    height: 457px;
    margin-bottom: 53px;
  }

  .contacts__map::after {
    top: 49%;
  }

  .contacts__map img {
    width: 100%;
    height: 457px;
  }

  .contacts__button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 668px;
    margin: 0 auto;
    padding-bottom: 0;
  }

  .contacts__button {
    width: 230px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-bottom: 104px;
    padding-top: 110px;
  }

  .contacts__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 1050px;
    margin: 0 auto;
  }

  .contacts__container {
    width: 350px;
    margin: 0;
    padding-right: 24px;
    padding-left: 98px;
  }

  .contacts__container::before {
    top: 63px;
    left: 63px;
  }

  .contacts__title {
    margin-left: 0;
    padding-bottom: 48px;
    padding-left: 71px;
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__e-mail {
    padding-right: 0;
    padding-bottom: 31px;
  }

  .contacts__map {
    width: 525px;
    height: 457px;
    margin: 0;
    margin-top: 2px;
  }

  .contacts__map::after {
    top: 50%;
    left: 49%;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 75px;
  }

  .contacts__value {
    padding-left: 27px;
  }

  .contacts__button-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 230px;
    margin-top: -52px;
    margin-left: 175px;
  }
}
