.copyright {
  padding-top: 17px;
  padding-bottom: 30px;
  text-align: center;
}

.copyright__text {
  padding-right: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  line-height: 18px;
  text-align: left;
  cursor: pointer;
}

.copyright__text:active {
  opacity: 0.3;
}

.copyright__link {
  padding-top: 3px;
}

.copyright__link svg {
  fill: #63d1bb;
}

.copyright:hover svg,
.copyright:focus svg {
  fill: #46c1ae;
}

.copyright:active svg {
  opacity: 0.3;
  fill: #46c1ae;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 0;
    padding-bottom: 0;
  }

  .copyright__text {
    padding-bottom: 15px;
  }
}
