.features__item {
  padding-bottom: 30px;
}

.features__text {
  padding-top: 50px;
  font-size: 17px;
  line-height: 20px;
  text-align: left;
}

.features__item {
  position: relative;
}

.features__item--ecology::before {
  content: "";
  position: absolute;

  width: 31px;
  height: 37px;
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  background-size: 31px 37px;
}

.features__item--scandinavian::before {
  content: "";
  position: absolute;

  width: 46px;
  height: 27px;
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
  background-size: 46px 27px;
}

.features__item--like::before {
  content: "";
  position: absolute;

  width: 33px;
  height: 27px;
  background-image: url("../img/icon-feature-heart.svg");
  background-size: 33px 27px;
}

.features__item--handmade::before {
  content: "";
  position: absolute;

  width: 34px;
  height: 34px;
  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
  background-size: 34px 34px;
}

.features__item--national::before {
  content: "";
  position: absolute;

  width: 54px;
  height: 23px;
  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
  background-size: 54px 23px;
}

.features__item--gift::before {
  content: "";
  position: absolute;

  width: 32px;
  height: 32px;
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
}


@media (min-width: $tablet-width) {
  .features {
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
  }

  .features__item {
    width: 50%;
  }

  .features__text {
    margin: 0;
  }

  .features__item--ecology {
    order: 0;
  }

  .features__item--scandinavian {
    order: 3;
  }

  .features__item--like {
    order: 5;
  }

  .features__item--handmade {
    order: 2;
  }

  .features__item--national {
    order: 4;
  }

  .features__item--gift {
    order: 6;
  }
}
