.form-client {
  margin-bottom: 55px;
}

.form-client__name-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;
}

.form-client__title {
  position: relative;
  color: #63d1bb;
  font-family: $fonts;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
}

.form-client__title::after {
  content: "";

  position: absolute;
  top: 7px;
  left: 62px;

  width: 198px;
  height: 1px;

  background-color: #63d1bb;
}

.form-client__item--phone {
  position: relative;
}

.form-client__parameter input {
  width: 100%;
  padding-bottom: 16px;
  border: 0;
  border-bottom: 2px solid #000000;
  outline: 0;
  font-size: 17px;
  line-height: 18px;
}

.form-client__parameter--phone input {
  font-size: 19px;
  line-height: 18px;
  padding-bottom: 13px;
}

.form-client__item--full-name {
  padding-bottom: 10px;
}

.form-client__item--mail {
  padding-top: 15px;
}

.form-client__item--more-info {
  padding-top: 20px;
  padding-bottom: 5px;
}

.form-client__parameter-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.form-client__more-info-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.form-client__phone-wrapper {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

.form-client__mail-wrapper {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

.form-client__parameter {
  display: flex;
  flex-direction: column;
}

.form-client__textarea {
  padding: 14px;
  outline: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  border: 2px solid #ececec;
}

.form-client__required {
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.form-client__more-info {
  display: flex;
  flex-direction: column;
}

.form-client__parameter-inner {
  position: relative;
}

.form-client__name-wrapper label {
  color: #000000;
  font-family: $fonts;
  font-size: 17px;
  line-height: 18px;
  padding-bottom: 15px;
  font-weight: bold;
}

.form-client__item {
  position: relative;
}

.form-client__input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.form-client__textarea::placeholder {
  color: #000000;
  opacity: 0.3;
}

.form-client__input:hover,
.form-client__input:focus,
.form-client__input:active {
  border-color: #62d1ba;
}

.form-client__input:active::placeholder {
  border-color: #62d1ba;
  opacity: 1;
}

.form-client__parameter-inner:active svg,
.form-client__parameter-inner:focus svg,
.form-client__parameter-inner:hover svg {
  fill: #62d1ba;
  opacity: 1;
}

.form-client__textarea:hover {
  border-color: #62d1ba;
}

.form-client__textarea:focus {
  border-color: #62d1ba;
}

.form-client__textarea:active::placeholder {
  border-color: #62d1ba;
  opacity: 1;
}

.form-client__parameter-inner svg {
  position: absolute;
  top: 2px;
  right: 9px;
  opacity: 0.2;
}

.form-client__button-wrapper {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

.form-client__button {
  width: 260px;
}

@media (min-width: $tablet-width) {
  .form-client {
    margin-bottom: 25px;
  }

  .form-client__wrapper {
    display: flex;
    flex-direction: column;
    width: 668px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .form-client__info-wrapper {
    background-color: #f1f1f1;
    padding-bottom: 35px;
  }

  .form-client__item--full-name {
    padding-top: 50px;
  }

  .form-client__parameter-wrapper {
    width: 680px;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  .form-client__name {
    width: 400px;
    flex-grow: 1;
    flex-direction: column;
    padding-top: 63px;
    padding-left: 137px;
    padding-bottom: 15px;
  }

  .form-client__title::after {
    display: none;
  }

  .form-client__name-wrapper {
    flex-direction: row;
    padding-bottom: 35px;
  }

  .form-client__name-wrapper label {
    padding-top: 6px;
    padding-right: 26px;
    font-size: 19px;
    line-height: 18px;
  }

  .form-client__parameter input {
    padding-bottom: 14px;
    padding-left: 15px;
    padding-right: 82px;
    font-size: 19px;
    line-height: 18px;
    width: 75%;
    flex-grow: 1;
    background-color: inherit;
  }

  .form-client__info {
    background-color: #f1f1f1;
  }

  .form-client__phone {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
  }

  .form-client__mail {
    display: flex;
    flex-direction: column;
  }

  .form-client__phone-wrapper {
    width: 680px;
    padding: 0 ;
    display: flex;
    flex-direction: row;
  }

  .form-client__mail-wrapper {
    width: 680px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }

  .form-client__parameter--phone {
    width: 100%;
    padding-top: 70px;
    padding-left: 128px;
    padding-right: 0;
  }

  .form-client__parameter--mail {
    width: 100%;
    padding-top: 33px;
    padding-left: 100px;
    padding-right: 0;
  }

  .form-client__parameter textarea {
    font-size: 19px;
    line-height: 18px;
    padding-bottom: 16px;
  }

  .form-client__item--phone {
    width: 60px;
    padding-top: 55px;
  }

  .form-client__item--mail {
    width: 90px;
    padding-top: 20px;
    padding-bottom: 18px;
  }

  .form-client__more-info {
    padding-top: 50px;
  }

  .form-client__more-info-wrapper {
    width: 668px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
  }

  .form-client__item--more-info {
    padding-top: 0;
    width: 60px;
  }

  .form-client__parameter--more-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 26px;
    padding-left: 105px;
    padding-right: 0;
    flex-grow: 1;
  }

  .form-client__button-wrapper {
    width: 668px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .form-client__required {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 26px;
  }

  .form-client__button {
    width: 230px;
  }

  .form-client__parameter-inner svg {
    right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form-client__parameter-wrapper {
    width: 1050px;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .form-client__phone-wrapper {
    width: 1050px;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .form-client__mail-wrapper {
    width: 1050px;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .form-client__more-info-wrapper {
    width: 1050px;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .form-client__button-wrapper {
    width: 1050px;
    padding: 0 175px;
    box-sizing: border-box;
  }

  .form-client__item--full-name {
    padding-left: 10px;
  }

  .form-client__name {
    padding-left: 80px;
    padding-bottom: 20px;
  }

  .form-client__item--phone {
    padding-top: 50px;
    padding-left: 10px;
  }

  .form-client__item--mail {
    padding-left: 10px;
  }

  .form-client__parameter input {
    width: 85%;
  }

  .form-client__parameter--phone {
    padding-left: 65px;
    padding-top: 65px;
  }

  .form-client__parameter--mail {
    padding-left: 35px;
    padding-top: 35px;
  }

  .form-client__item--more-info {
    padding-left: 10px;
  }

  .form-client__parameter--more-info {
    padding-left: 55px;
    padding-right: 125px;
    padding-bottom: 22px;
  }

  .form-client__parameter textarea {
    padding-bottom: 18px;
  }

  .form-client__required {
    padding-top: 22px;
  }
}
