.form-checkbox__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.form-checkbox__filter {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 8px;
  font-weight: bold;
}

.form-checkbox__name {
  position: relative;
  color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.form-checkbox__name::after {
  content: "";

  position: absolute;
  top: 7px;
  left: 62px;

  width: 198px;
  height: 1px;

  background-color: #63d1bb;
}

.form-checkbox__selection {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.form-checkbox__selection label {
  position: relative;
  padding-left: 62px;
  color: #000000;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  padding-bottom: 15px;
}

.form-checkbox__filter label::before {
  top: -12px;
  left: 20px;
  width: 50px;
  height: 48px;
}

.form-checkbox__filter input:checked + label::after {
  top: 4px;
  left: 31px;
  width: 33px;
  height: 22px;
  background-size: 33px 22px;
}

.form-checkbox__selection label::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid #000000;
  cursor: pointer;
}

.form-checkbox__selection input:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 9px;
  width: 22px;
  height: 17px;
  background: url("../img/icon-tick.svg") no-repeat 50% 50%;
  background-size: 22px 17px;
  cursor: pointer;
}

.form-checkbox__input:disabled + label {
  opacity: 0.1;
}

.form-checkbox__input:hover + label::before {
  border-color: #62d1ba;
}

.form-checkbox__input:focus + label::before {
  border-color: #62d1ba;
}

.form-checkbox__input:active + label::before {
  border-color: #444444;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .form-checkbox__wrapper {
    width: 668px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
  }

  .form-checkbox__name::after {
    display: none;
  }

  .form-checkbox__filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 120px;
    padding-bottom: 40px;
  }

  .form-checkbox__name {
    padding-top: 70px;
  }

  .form-checkbox__selection label {
    font-size: 19px;
    line-height: 18px;
  }

  .form-checkbox__selection {
    width: 50%;
    margin-right: -10px;
    padding-bottom: 15px;
  }

  .form-checkbox__selection label::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 50px;
    height: 50px;
    border: 2px solid #000000;
    cursor: pointer;
  }

  .form-checkbox__selection input:checked + label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 10px;
    width: 33px;
    height: 22px;
    background: url("../img/icon-tick.svg") no-repeat 50% 50%;
    cursor: pointer;
  }
}

@media (min-width: $desktop-width) {
  .form-checkbox__wrapper {
    width: 1050px;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .form-checkbox__name {
    padding-left: 10px;
  }

  .form-checkbox__filter {
    padding-left: 70px;
  }

  .form-checkbox__selection {
    width: 33%;
    margin-right: -45px;
  }

  .form-checkbox__selection label {
    padding-left: 80px;
  }
}
