.form-client__name {
  padding-bottom: 10px;
}

.form-client__name-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;
}

.form-client__title {
  color: #63d1bb;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
}

.form-client__item--phone {
  position: relative;
  padding-bottom: 15px;
}

.form-client__parameterr input {
  width: 100%;
  padding-bottom: 16px;
  border: 0;
  border-bottom: 2px solid #000000;
  outline: 0;
  font-size: 17px;
  line-height: 18px;
}

.form-client__parameterr--phone input {
  font-size: 19px;
  line-height: 18px;
  padding-bottom: 13px;
}

.form-client__item--full-name {
  position: relative;
  padding-bottom: 28px;
}

.form-client__item--mail {
  position: relative;
  padding-bottom: 22px;
}

.form-client__item--more-info {
  position: relative;
  padding-bottom: 24px;
}

.form-client__info-wrapper {
  width: 320px;
  margin: 0 auto;
}

.form-client__parameter {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
}

.form-client__parameter textarea {
  padding: 14px;
  outline: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  border: 2px solid #ececec;
}

.form-client__required {
  padding-top: 16px;
  padding-bottom: 33px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.form-client__more-info {
  display: flex;
  flex-direction: column;
}

.form-client__phone-wrapper {
  width: 260px;
  margin: 0 auto;
}

.form-client__parameter-wrapper {
  position: relative;
  padding-bottom: 32px;
}

.form-client__name-wrapper label {
  color: #000000;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  padding-bottom: 15px;
}

.form-client__item {
  position: relative;
}

.form-client__name-wrapper input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.form-client__phone input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.form-client__mail input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.form-client__parameter--more-info input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.form-client__parameter--more-info textarea::placeholder {
  color: #000000;
  opacity: 0.3;
}

.form-client__name-wrapper input:hover,
.form-client__name-wrapper input:active {
  border-color: #62d1ba;
}

.form-client__name-wrapper input:active::placeholder {
  border-color: #62d1ba;
  opacity: 1;
}

.order-form__option-wrapper input:hover,
.order-form__option-wrapper input:active {
  border-color: #62d1ba;
}

.form-client__parameter-wrapper:active svg,
.form-client__parameter-wrapper:hover svg {
  fill: #62d1ba;
  opacity: 1;
}

.form-client__parameter-wrapper input:active::placeholder {
  border-color: #62d1ba;
  opacity: 1;
}

.form-client__parameter--more-info:hover textarea {
  border-color: #62d1ba;
}

.form-client__parameter--more-info:active textarea::placeholder {
  border-color: #62d1ba;
  opacity: 1;
}

.form-client__parameter-wrapper svg {
  position: absolute;
  top: 2px;
  right: 9px;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .form-client__wrapper {
    display: flex;
    flex-direction: column;
    width: 668px;
    margin: 0 auto;
  }

  .form-client__parameter {
    width: 668px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  .form-client__item--full-name {
    padding-top: 65px;
  }

  .form-client__parameter-wrapper {
    display: flex;
    flex-direction: row;
  }

  .form-client__name {
    width: 400px;
    flex-grow: 1;
    flex-direction: column;
    padding-top: 59px;
    padding-left: 125px;
    padding-bottom: 15px;
  }

  .form-client__name-wrapper {
    flex-direction: row;
    padding-bottom: 33px;
  }

  .form-client__name-wrapper label {
    padding-top: 6px;
    padding-right: 26px;
    font-size: 19px;
    line-height: 18px;
  }

  .form-client__parameter input {
    padding-bottom: 14px;
    padding-left: 15px;
    padding-right: 82px;
    font-size: 19px;
    line-height: 18px;
    width: auto;
    flex-grow: 1;
    background-color: inherit;
  }

  .form-client__info {
    background-color: #f1f1f1;
    margin-bottom: 49px;
  }

  .form-client__phone {
    display: flex;
    flex-direction: column;
    width: 668px;
    margin: 0 auto;
    padding-left: 52px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  .form-client__mail {
    display: flex;
    flex-direction: column;
    width: 668px;
    margin: 0 auto;
    padding-left: 52px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  .form-client__phone-wrapper {
    display: flex;
    flex-direction: row;
  }

  .form-client__mail-wrapper {
    display: flex;
    flex-direction: row;
  }

  .form-client__parameter--phone {
    width: 100%;
    padding-top: 60px;
    padding-left: 122px;
    padding-right: 0;
  }

  .form-client__parameter--mail {
    width: 100%;
    padding-top: 33px;
    padding-left: 100px;
    padding-right: 0;
  }

  .form-client__parameter textarea {
    font-size: 19px;
    line-height: 18px;
    padding-bottom: 16px;
  }

  .form-client__item--phone {
    width: 60px;
    padding-top: 68px;
  }

  .form-client__item--mail {
    width: 90px;
    padding-top: 42px;
    padding-bottom: 18px;
  }

  .form-client__more-info {
    width: 668px;
    margin: 0 auto;
  }

  .form-client__more-info-wrapper {
    display: flex;
  }

  .form-client__item--more-info {
    padding-top: 18px;
    width: 60px;
  }

  .form-client__parameter--more-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
    padding-left: 122px;
    padding-right: 0;
    flex-grow: 1;
  }

  .form-client__button-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .form-client__required {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 26px;
  }

  .form-client__button {
    width: 230px;
  }

  .form-client__parameter-wrapper svg {
    right: 22px;
  }
}
