.form-radio__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.form-radio__name {
  position: relative;
  color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
}

.form-radio__name::after {
  content: "";

  position: absolute;
  top: 7px;
  left: 62px;

  width: 198px;
  height: 1px;

  background-color: #63d1bb;
}

.form-radio__label {
  color: #000000;
  font-size: 17px;
  line-height: 18px;
}

.form-radio__selection {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-radio__filter {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 23px;
  font-weight: bold;
}

.form-radio__selection label {
  position: relative;
  padding-bottom: 24px;
  cursor: pointer;
  padding-left: 65px;
  font-size: 19px;
  line-height: 18px;
}

.form-radio__selection label:hover::before {
  border-color: #62d1ba;
}

.form-radio__selection label:focus::before {
  border-color: #62d1ba;
}

.form-radio__selection label:active::before {
  border-color: #444444;
  opacity: 0.3;
}

.form-radio__selection label::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.form-radio__selection input:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 12px;
  width: 16px;
  height: 17px;
  background: #62d1ba;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .form-radio__wrapper {
    width: 668px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
  }

  .form-radio__name {
    padding-top: 75px;
  }

  .form-radio__name::after {
    display: none;
  }

  .form-radio__filter {
    padding-top: 62px;
    padding-left: 132px;
    padding-bottom: 17px;
  }

  .form-radio__selection {
    padding-bottom: 30px;
  }

  .form-radio__selection label {
    padding-top: 5px;
    padding-left: 80px;
  }

  .form-radio__selection label::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 0;
    width: 52px;
    height: 52px;
    border: 2px solid #444444;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
  }

  .form-radio__selection input:checked + label::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    width: 21px;
    height: 21px;
    background: #62d1ba;
    border-radius: 50%;
    cursor: pointer;
  }
}

@media (min-width: $desktop-width) {
  .form-radio__wrapper {
    width: 1050px;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .form-radio__name {
    padding-left: 10px;
  }

  .form-radio__filter {
    padding-left: 80px;
  }
}
