.menu__item a {
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.menu__item a:hover {
  opacity: 0.6;
}

.menu__item a:focus {
  opacity: 0.6;
}

.menu__item a:active {
  opacity: 0.3;
}

@media (min-width: $desktop-width) {
  .menu {
    width: 50%;
    display: flex;
    order: 3;
  }

  .menu__item {
    padding-right: 30px;
  }
}
