@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal {
  position: fixed;
  display: none;
  z-index: 10;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-basket {
  left: 0;
  right: 0;
  top: 25%;
}

.modal__wrapper {
  width: 260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.modal__header {
  display: flex;
  justify-content: center;
}

.modal__title {
  width: 150px;
  padding-top: 36px;
  padding-bottom: 25px;
  color: #000000;
  font-family: $fonts;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}

.modal__size {
  display: flex;
  justify-content: space-between;
  padding-bottom: 31px;
}

.modal__text {
  display: flex;
  justify-content: center;
  padding-bottom: 28px;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.modal__size-item {
  width: 82px;
  height: 52px;
  border: 2px solid #ececec;
  color: #000000;
  background-color: #ffffff;
  font-family: $fonts;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.modal__size-item--active {
  border: 2px solid #63d1bb;
}

.modal__btn-wrapper {
  padding-bottom: 46px;
}

.modal__basket {
  border: none;
  color: ffffff;
  background-color: #63d1bb;
}

.modal__basket:hover {
  color: #ffffff;
  background-color: #63d1bb;
}

.modal__size-item:hover {
  border-color: #c7c7c7;
}

.modal__size-item:active {
  border-color: #63d1bb;
}

@media (min-width: $tablet-width) {
  .modal__wrapper {
    width: 350px;
    padding: 0 108px;
  }

  .modal__title {
    display: flex;
    justify-content: center;
    width: 351px;
    padding-top: 51px;
    padding-bottom: 20px;
  }

  .modal__btn-wrapper {
    display: flex;
    justify-content: center;
  }

  .modal__size-item {
    width: 112px;
  }

  .modal__basket {
    width: 350px;
  }
}
