.modal-basket {
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 320px;
  box-sizing: border-box;

  margin: 0 auto;

  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .modal-basket {
    width: 566px;
    text-align: center;
  }
}
