.order-form {
  margin-top: 23px;
}

.order-form__entry {
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .order-form {
    margin-top: 65px;
  }

  .order-form__entry {
    width: 668px;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__checkbox {
    background-color: #f1f1f1;
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    margin-top: 105px;
  }

  .order-form__entry {
    width: 700px;
    box-sizing: border-box;
  }
}
