.page-footer {
  width: 100%;
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  display: flex;
}

.page-footer__copyright {
  display: flex;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
  }

  .page-footer__wrapper {
    width: 668px;
    margin: 0 auto;
  }

  .page-footer__logo {
    display: block;
    width: 27%;
  }

  .page-footer__social {
    width: 27%;
  }

  .page-footer__copyright {
    width: 27%;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1050px;
    margin: 0 auto;
  }
}
