.page-main {
  padding-top: 100px;
}

@media (min-width: $tablet-width) {
  .page-main {
    min-width: 768px;
    max-width: 1050px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    min-width: 1050px;
    max-width: 1150px;
  }
}
