.page-catalog__title {
  position: relative;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 75px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
  border-top: 1px solid #dfdfdf;
}

@media (min-width: $tablet-width) {
  .page-catalog__title {
    margin-top: -42px;
    padding-top: 95px;
    padding-bottom: 90px;
    font-size: 43px;
    line-height: 50px;
  }

  .page-catalog__title::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 24px;
    max-height: 34px;
    margin-top: 2.95652%;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 768px 100%;
    background-position: 50% 100%;
  }
}

@media (min-width: $desktop-width) {
  .page-catalog__title {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 120px;
  }

  .page-catalog__title::after {
    bottom: -2px;
    height: 37px;
    max-height: 37px;
    padding-top: 0;
    background-repeat: repeat-x;
    background-position: 50% 50%;
    background-size: 1150px 100%;
  }
}
