.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 80px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
  }

  .page-header__logo {
    order: 1;
    height: 90px;
  }
}
