.page-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 9999999;
  position: relative;
}

.page-header__wrapper {
  position: relative;
}

.page-header__logo {
  position: relative;
  padding-top: 20px;
  height: 80px;
  text-align: center;
}

.page-header__logo img {
  width: 86px;
  height: 35px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
  }

  .page-header__wrapper {
    min-width: 768px;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    min-width: 1050px;
    max-width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
