.products {
  width: 320px;
  margin: 0 auto;
  margin-top: -21px;
  margin-bottom: 27px;
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto 373px;
  background-position: 50% 0;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .products {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.products__title {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 100px;
  font-size: 27px;
  color: #010000;
  line-height: 30px;
  text-align: center;
}

.products__list {
  padding-top: 40px;

  a {
    font-size: 19px;
    color: #ffffff;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
  }
}

.products__item {
  padding-top: 20px;
  padding-bottom: 20px;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

@media (min-width: $tablet-width) {
  .products {
    position: relative;
    width: auto;
    min-height: 660px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    margin-top: -68px;
    margin-bottom: 45px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: auto 744px;
    background-position: center;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .products {
      background-image: url("../img/hero-tablet@2x.jpg");
      }
  }

  .products__title {
    min-height: 630px;
  }

  .products__list {
    width: 668px;
    margin: 0 auto;
    display: flex;
  }

  .products__item {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .products {
    width: auto;
    margin: 0 auto;
    margin-bottom: 35px;
    margin-top: -72px;
    background-image: url("../img/hero-desktop@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .products {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .products__list {
    width: 1050px;
  }
}
