.production {
  margin-bottom: 60px;
}

.production__container {
  border: 1px solid #ececec;
}

.production__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.production__title {
  position: relative;
  color: #000000;
  width: 126px;
  font-size: 17px;
  line-height: 24px;
  padding-top: 10px;
  padding-left: 89px;
  padding-bottom: 10px;
}

.production__title::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 33px;
  width: 32px;
  height: 32px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
}

.production__description {
  box-sizing: border-box;
  cursor: pointer;
}

.production__description:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, 0.3s ease;
}

.production__description:focus {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, 0.3s ease;
}

.production__description:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.production__text {
  color: #444444;
  width: 183px;
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 33px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.production__video {
  position: relative;
}

.production__image {
  position: relative;
  width: 260px;
  height: 150px;
  background-color: #fbfbfb;
}

.production__play {
  background: inherit;
  border: 0;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  margin: auto;
}

.production__play,
.production__play::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 76px;
}

.production__play::before {
  content: "";
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-size: 100px 76px;
  background-position: 50% 50%;
  cursor: pointer;
}

.production__play:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease, opacity 0.2s, 0.2s ease;
}

.production__play:focus {
  transform: scale(1.2);
  transition: transform 0.2s ease, opacity 0.2s, 0.2s ease;
}

.production__play:active {
  opacity: 0.8;
  transform: scale(0.8);
}

.production__btn-wrapper {
  display: flex;
  justify-content: center;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 33px;
}

.production__button {
  width: 190px;
}

@media (min-width: $tablet-width) {
  .production {
    display: flex;
    flex-direction: column;
    margin-bottom: 62px;
  }

  .production__wrapper {
    position: relative;
    min-width: 768px;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .production__video {
    display: flex;
    flex-direction: column;
  }

  .production__image {
    width: 668px;
    height: 455px;
  }

  .production__title {
    position: absolute;
    top: 435px;
    left: 50px;
    width: 241px;
    padding-top: 36px;
    padding-bottom: 7px;
    padding-left: 105px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  .production__title::before {
    top: 32px;
    left: 40px;
  }

  .production__text {
    width: 581px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
    padding-top: 80px;
    padding-left: 40px;
  }

  .production__btn-wrapper {
    padding-bottom: 46px;
  }

  .production__button {
    width: 584px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    margin-bottom: 105px;
  }

  .production__wrapper {
    min-width: 1050px;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

  .production__video {
    flex-direction: row;
  }

  .production__description {
    padding-top: 100px;
    width: 367px;
    padding-bottom: 60px;
    padding-left: 78px;
    border: 0;
  }

  .production__title {
    padding-right: 92px;
    top: -17px;
    right: 50px;
    margin-left: auto;
    width: 148px;
    font-size: 20px;
    line-height: 24px;
    padding-left: 76px;
    padding-top: 95px;
  }

  .production__text {
    padding-top: 65px;
    width: 230px;
    font-size: 15px;
    padding-bottom: 30px;
    padding-left: 0;
    font-weight: 400;
    line-height: 30px;
  }

  .production__image {
    width: 682px;
    height: 455px;
  }

  .production__btn-wrapper {
    width: 230px;
    padding-left: 0;
    padding-bottom: 0;
  }

  .production__title::before {
    top: 41px;
    left: 79px;
  }
}
