.products {
  width: 100%;
  margin-top: -21px;
  margin-bottom: 27px;
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto 373px;
  background-position: 50% -15%;
  border-top: 1px solid #ececec;
}

.products__title {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  padding-top: 70px;
  padding-bottom: 100px;
  font-size: 27px;
  color: #010000;
  line-height: 30px;
  text-align: center;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .products {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.products__list {
  padding-top: 23px;

  a {
    font-size: 19px;
    color: #ffffff;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
}

.products__link {
  min-height: 103px;
  cursor: pointer;

  &--interior {
    position: relative;
    background-color: #63d1bb;
  }

  &--toys {
    position: relative;
    background-color: #56c3b2;
  }
}

.products__link span {
  padding-left: 30px;
  padding-bottom: 5px;
}

.products__link--interior::after {
  content: "";

  position: absolute;
  top: 23px;
  right: 35px;
  background-image: url("../img/icon-interior.svg");
  opacity: 0.5;

  width: 40px;
  height: 62px;
}

.products__link--toys::after {
  content: "";

  position: absolute;
  top: 21px;
  right: 27px;

  background-image: url("../img/icon-toy.svg");
  opacity: 0.5;

  width: 60px;
  height: 59px;
}

.products__link--interior:hover,
.products__link--interior:focus,
.products__link--interior:active {
  margin-top: -5px;
  padding-bottom: 5px;
  background-color: #59d5bc;
}

.products__link--toys:hover,
.products__link--toys:focus,
.products__link--toys:active {
  margin-top: -5px;
  padding-bottom: 5px;
  background-color: #46c1ae;
}

.products__link--interior:active span {
  opacity: 0.3;
}

.products__link--toys:active span {
  opacity: 0.3;
}

.products__link--interior:active::after {
  opacity: 0.3;
}

.products__link--toys:active::after {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .products {
    position: relative;
    min-height: 660px;
    margin-top: -62px;
    margin-bottom: 45px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: auto 744px;
    background-position: center;
  }

  .products::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    display: block;
    width: 100%;
    height: 23px;
    max-height: 23px;
    padding-top: 0;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 768px 100%;
    background-position: 50% 100%;
  }

  .products__wrapper {
    min-width: 768px;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .products {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .products__title {
    padding-top: 155px;
    min-height: 630px;
    width: auto;
    font-size: 43px;
    line-height: 50px;
  }

  .products__list {
    width: 668px;
    margin: 0 auto;
    display: flex;
    padding-top: 0;
    margin-top: -5px;
  }

  .products__list a {
    font-size: 20px;
    line-height: 30px;
  }

  .products__item {
    width: 50%;
  }

  .products__link {
    min-height: 120px;
  }

  .products__link span {
    padding-left: 36px;
    padding-bottom: 4px;
  }

  .products__link--interior::after {
    top: 30px;
  }

  .products__link--toys::after {
    top: 34px;
    right: 35px;
  }
}

@media (min-width: $desktop-width) {
  .products {
    margin-bottom: 35px;
    margin-top: -62px;
    background-image: url("../img/hero-desktop@1x.jpg");
  }

  .products::after {
    bottom: -19px;
    height: 37px;
    max-height: 37px;
    padding-top: 0;
    background-repeat: repeat-x;
    background-position: 50% 50%;
    background-size: 1250px 100%;
  }

  .products__wrapper {
    min-width: 1050px;
    max-width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .products__title {
    font-size: 53px;
    line-height: 57px;
    width: 700px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .products {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .products__list {
    width: 1050px;
  }
}
