
.product__item-text {
  padding-left: 20px;
}

.product__title {
  font-size: 17px;
  line-height: 24px;
  text-align: left;
}

.product__parameter {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}

.product__price {
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

.product__buy {
  padding-top: 30px;
}
