.product {
  border: 1px solid #ececec;
  margin-top: 30px;
  padding-bottom: 25px;
}

.product__text {
  padding-left: 20px;
  padding-right: 20px;
  font-family: $fonts;
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
}

.product__description {
  padding-left: 9px;
  border-bottom: 1px solid #eeeeee;
}

.product__text:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, 0.3s ease;
}

.product__text:focus {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, 0.3s ease;
}

.product__text:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.product__title {
  margin: 0;
  margin-top: 23px;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  font-weight: 700;
}

.product__title a {
  color: #000000;
  text-decoration: none;
}

.product__title:hover,
.product__title:focus {
  opacity: 0.6;
}

.product__title:active {
  opacity: 0.3;
}

.product__parameter {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 19px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}

.product__price {
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

.product__buy {
  padding-left: 9px;
  padding-top: 20px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 24px;
  font-weight: 800;
}

.product__basket svg {
  opacity: 0.2;
}

.product__basket:hover svg,
.product__basket:focus svg {
  opacity: 1;
  fill: #63d1bb;
}

.product__basket:active svg {
  opacity: 0.3;
  fill: #63d1bb;
}

@media (min-width: $tablet-width) {
  .product {
    padding-bottom: 0;
    margin-top: 50px;
  }

  .product__title {
    font-size: 20px;
    line-height: 24px;
  }

  .product__text {
    width: 250px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
  }

  .product__picture {
    height: 334px;
  }

  .product__parameter {
    font-size: 15px;
    line-height: 30px;
  }

  .product__description {
    width: 100%;
    padding-bottom: 125px;
    padding-left: 0;
  }

  .product__buy {
    width: 100%;
    padding-left: 4px;
  }

  .product__price {
    font-size: 17px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
  }

  .product__title {
    margin: 0;
    padding-top: 25px;
  }

  .product__text {
    height: 195px;
  }

  .product__parameter {
    padding-bottom: 0;
  }

  .product__picture {
    width: 316px;
    height: 462px;
  }

  .product__description {
    padding-bottom: 0;
    border: 0;
  }

  .product__buy {
    padding-top: 23px;
    padding-bottom: 25px;
    padding-left: 0;
    margin-top: auto;
    border-top: 1px solid #ececec;
  }
}
