.products {
  width: 100%;
  margin-top: -21px;
  margin-bottom: 27px;
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto 373px;
  background-position: 50% 0;
  border-top: 1px solid #ececec;
}

.products__title {
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 100px;
  font-size: 27px;
  color: #010000;
  line-height: 30px;
  text-align: center;
}

.products__wrapper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.products__link {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .products {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.products__list {
  padding-top: 40px;

  a {
    font-size: 19px;
    color: #ffffff;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-family: "Open-Sans-Bold", "Arial", sans-serif;
  }
}

.products__item {
  padding-top: 20px;
  padding-bottom: 20px;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.products__link--interior svg {
  opacity: 0.5;
  fill: #149080;
}

.products__link--toys svg {
  opacity: 0.5;
  fill: #149080;
}

.products__link--interior:hover svg {
  opacity: 0.7;
}

.products__link--toys:hover svg {
  opacity: 0.7;
}

@media (min-width: $tablet-width) {
  .products {
    position: relative;
    min-height: 660px;
    margin-top: -68px;
    margin-bottom: 45px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: auto 744px;
    background-position: center;
  }

  .products::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    display: block;
    width: 100%;
    height: 23px;
    max-height: 23px;
    padding-top: 0;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 768px 100%;
    background-position: 50% 100%;
  }

  .products__wrapper {
    min-width: 768px;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .products {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .products__title {
    min-height: 630px;
  }

  .products__list {
    width: 668px;
    margin: 0 auto;
    display: flex;
  }

  .products__item {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .products {
    margin-bottom: 35px;
    margin-top: -72px;
    background-image: url("../img/hero-desktop@1x.jpg");
  }

  .products__wrapper {
    min-width: 1050px;
    max-width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .products {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .products__list {
    width: 1050px;
  }
}
