.product {
  border: 1px solid #ececec;
  margin-top: 30px;
  padding-bottom: 20px;
}

.product__text {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
}

.product__description {
  border-bottom: 1px solid #eeeeee;
}

.product__title {
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  font-weight: 700;
}

.product__parameter {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}

.product__price {
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

.product__buy {
  padding-top: 30px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.product__basket svg {
  opacity: 0.2;
}

.product__basket:hover svg,
.product__basket:focus svg {
  opacity: 1;
  fill: #63d1bb;
}

.product__basket:active svg {
  opacity: 0.3;
  fill: #63d1bb;
}

@media (min-width: $tablet-width) {
  .product {
    padding-bottom: 0px;
  }

  .product__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 55px;
  }

  .product__text {
    width: 250px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 0 32px;
  }

  .product__description {
    width: 100%;
    padding-bottom: 100px;
  }

  .product__buy {
    width: 100%;
    padding-right: 0px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
  }

  .product__item {
    flex-direction: column;
    width: 316px;
  }

  .product__text {
    min-height: 0;
  }

  .product__title {
    min-height: 50px;
  }

  .product__picture {
    width: 316px;
    height: 462px;
  }

  .product__description {
    padding: 25px 0 14px;
  }

  .product__buy {
    padding: 23px 0;
  }
}
