.promo {
  position: relative;
  padding-bottom: 42px;
}

.promo::after {
  content: "";
  position: absolute;
  background-image: url("../img/bg-zigzag-line.svg");
  width: 100%;
  height: 7px;
  bottom: 0;
  background-repeat: repeat-x;
  background-size: 320px 100%;
  background-position: 50% 100%;
  transform: rotate(180deg);
}

.promo__wrapper {
  width: 260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.promo__name {
  padding-bottom: 23px;
}

.promo__title {
  margin: 0;
  color: #010000;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 4px;
}

.promo__item-of-week {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
  font-weight: bold;
}

.promo__description {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 18px;
}

.promo__list {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  border-collapse: collapse;
  margin-bottom: 28px;
}

.promo__feature {
  border-bottom: 1px solid #ececec;
}

.promo__characteristic {
  padding-right: 13px;
  padding-top: 8px;
  padding-bottom: 11px;
}

.promo__picture {
  width: 260px;
  height: 315px;
  background-color: #fbfbfb;
  margin-bottom: 25px;
}

.promo__price {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .promo {
    padding-bottom: 70px;
    margin-bottom: 50px;
  }

  .promo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 768px;
    height: 17px;
    max-height: 23px;
    margin: 0;
    margin-top: 26px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    transform: rotate(180deg);
  }

  .promo__wrapper {
    width: 668px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .promo__elements-wrapper {
    min-width: 662px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .promo__name {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: relative;
    padding-bottom: 0;
    z-index: 1;
  }

  .promo__description {
    display: flex;
    width: 282px;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 40px;
    padding-top: 30px;
    color: #444444;
  }

  .promo__list {
    border-collapse: collapse;
    width: 290px;
    margin-left: 0;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 56px;
  }

  .promo__price {
    width: 287px;
    align-self: flex-start;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 34px;
  }

  .promo__button {
    width: 290px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .promo__title {
    margin-right: auto;
    padding-top: 5px;
    font-size: 43px;
    line-height: 50px;
    color: #000000;
  }

  .promo__characteristic {
    width: 67px;
    padding-right: 26px;
    padding-bottom: 11px;
  }

  .promo__item-of-week {
    width: 70px;
    padding-top: 14px;
    padding-bottom: 24px;
    padding-right: 28px;
    text-align: center;
    line-height: 17px;
    color: #63d1bb;
  }

  .promo__picture {
    width: 333px;
    height: 404px;
    position: absolute;
    right: 50px;
    bottom: 70px;
    margin-bottom: 0;
  }

  .promo__picture img {
    width: 333px;
    height: 404px;
  }

  .promo__feature {
    width: 300px;
    color: #444444;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    margin-bottom: 20px;
    background-size: 0;
  }

  .promo::after {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 1050px;
    height: 23px;
    margin: 0;
    margin-left: -526px;
    padding-top: 0;
    background-position: 50% 50%;
    transform: rotate(180deg);
  }

  .promo__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-bottom: 70px;
  }

  .promo__elements-wrapper {
    position: relative;
    max-width: 1050px;
  }

  .promo__name {
    width: 650px;
    padding-top: 90px;
    padding-left: 45px;
    flex-direction: row-reverse;
    align-items: center;
  }

  .promo__item-of-week {
    padding-right: 0;
    padding-top: 15px;
  }

  .promo__title {
    margin-right: 0;
    padding-top: 0;
    font-size: 53px;
    line-height: 57px;
  }

  .promo__description {
    padding-left: 175px;
    padding-bottom: 52px;
  }

  .promo__list {
    width: 296px;
    margin-left: 173px;
    margin-bottom: 110px;
  }

  .promo__price {
    width: 150px;
    padding-bottom: 35px;
    padding-left: 245px;
  }

  .promo__button {
    margin-left: 176px;
  }

  .promo__characteristic {
    padding-top: 8px;
    padding-bottom: 11px;
    padding-right: 30px;
  }

  .promo__value {
    padding-top: 8px;
    padding-bottom: 11px;
  }

  .promo__picture {
    width: 525px;
    height: 636px;
    position: absolute;
    right: 0;
    bottom: 70px;
    margin-bottom: 0;
    top: -160px;
  }

  .promo__picture img {
    width: 525px;
    height: 636px;
  }
}
