.promo {
  padding-bottom: 20px;
}

.promo__name {
  padding-top: 20px;
}

.promo__title {
  margin: 0;
  font-size: 25px;
  color: #000000;
  line-height: 30px;
  text-align: left;
}

.promo__item-of-week {
  margin: 0;
  font-size: 17px;
  color: #63d1bb;
  text-transform: uppercase;
  line-height: 20px;
  text-align: left;
}

.promo__description {
  font-size: 15px;
  font-weight: 400;
  color: #444444;
  line-height: 24px;
  text-align: left;
}

.promo__list {
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #444444;
  line-height: 20px;
  text-align: left;
}

.promo__price {
  font-size: 17px;
  color: #444444;
  line-height: 24px;
  text-align: center;
}

.promo__button {
  width: 260px;
  padding: 10px 50px;
  font-size: 17px;
  color: #444444;
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #444444;
}

@media (min-width: $tablet-width) {
  .promo {
    position: relative;
    width: 668px;
    margin: 0 auto;
  }

  .promo__wrapper {
    margin-top: 50px;
    display: flex;
  }

  .promo__name {
    width: 100%;
    position: absolute;
    top: -30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }

  .promo__text {
    width: 45%;
    margin-right: 5%;
  }

  .promo__price {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 1050px;
  }

  .promo__title {
    order: 2;
  }

  .promo__item-of-week {
    order: 1;
  }
}
