.reviews {
  position: relative;
}

.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 25px;
}

.reviews::after {
  content: "";
  position: absolute;
  background-image: url("/img/bg-zigzag-line.svg");
  width: 100%;
  height: 7px;
  bottom: 0;
  background-repeat: repeat-x;
  background-size: 320px 100%;
  background-position: 50% 100%;
  transform: rotate(180deg);
}

.reviews__title {
  font-family: $fonts;
  font-size: 25px;
  line-height: 30px;
}

.reviews__slider-controls {
  display: flex;
  border: none;
  padding-bottom: 38px;
}

.reviews__slider-btn--prev:hover,
.reviews__slider-btn--next:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}

.reviews__slider-btn--prev:active,
.reviews__slider-btn--next:active {
  opacity: 0.3;
  transition: opacity 0.5s ease;
}

@media (min-width: $tablet-width) {
  .reviews::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 768px;
    height: 17px;
    max-height: 23px;
    margin: 0;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    transform: rotate(180deg);
  }

  .reviews__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 78px;
    padding-bottom: 80px;
    background-image: url("/img/review@1x.jpg");
    background-size: auto 457px;
    background-repeat: no-repeat;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .reviews__wrapper {
      width: 100%;
      background-image: url("/img/review@2x.jpg");
    }
  }

  .reviews__title {
    order: 0;
    font-family: $fonts;
    font-size: 43px;
    line-height: 50px;
    padding-bottom: 0px;
  }

  .reviews__item {
    order: 3;
    width: 642px;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
  }

  .reviews__slider-controls {
    order: 5;
  }

  .reviews__button {
    order: 2;
    width: 175px;
  }
}

@media (min-width: $desktop-width) {
  .reviews::after {
    content: "";
    position: absolute;
    bottom: 19px;
    left: 0%;
    width: 100%;
    height: 23px;
    margin: 0;
    margin-left: 0;
    padding-top: 0;
    background-position: 50% 50%;
    transform: rotate(180deg);
  }

  .reviews__wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 78px;
    padding-bottom: 150px;
    background-position: 0px 0px;
  }

  .reviews__title {
    width: 218px;
    font-family: $fonts;
    font-size: 53px;
    line-height: 57px;
    padding-left: 170px;
    padding-bottom: 0px;
  }

  .reviews__item {
    padding-left: 170px;
  }
}
