.reviews {
  position: relative;
}

.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  margin: 0;
  padding-top: 10px;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 25px;
}

.reviews::after {
  content: "";
  position: absolute;
  background-image: url("../img/bg-zigzag-line.svg");
  width: 100%;
  height: 7px;
  bottom: -50px;
  background-repeat: repeat-x;
  background-size: 320px 100%;
  background-position: 50% 100%;
  transform: rotate(180deg);
}

.reviews__slider-controls {
  display: flex;
  border: none;
  padding-bottom: 35px;
  padding-top: 30px;
}

.reviews__slider-btn--prev,
.reviews__slider-btn--next {
  margin: 0;
  padding: 0;

  background-color: #ffffff;

  font-size: 0;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  text-align: center;

  border: 1px solid #ececec;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__slider-btn--prev::before {
  content: "";

  display: block;
  width: 50px;
  height: 26px;

  padding: 13px 40px 11px 38px;

  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.reviews__slider-btn--next::before {
  content: "";

  display: block;
  width: 50px;
  height: 26px;

  padding: 13px 40px 13px 38px;

  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 50px;
  }

  .reviews::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    min-width: 768px;
    height: 17px;
    max-height: 23px;
    margin: 0;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    transform: rotate(180deg);
  }

  .reviews__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    padding-bottom: 80px;
    background-image: url("../img/review@1x.jpg");
    background-size: auto 457px;
    background-repeat: no-repeat;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .reviews__wrapper {
      width: 100%;
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__title {
    order: 0;
    font-size: 43px;
    line-height: 50px;
    padding-bottom: 0;
    margin-left: -5px;
  }

  .reviews__item {
    padding-top: 45px;
    order: 3;
    width: 642px;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
  }

  .reviews__slider-controls {
    order: 5;
    position: absolute;
    bottom: 40px;
    right: 40px;
    padding-bottom: 42px;
    padding-top: 0px;
  }

  .reviews__slider-btn--next {
    border: 0;
  }

  .reviews__slider-btn--prev {
    border: 0;
  }

  .reviews__slider-btn--next::before {
    padding: 13px 35px 13px 20px;
  }

  .reviews__slider-btn--prev::before {
    padding: 13px 2px 13px 20px;
  }

  .reviews__button {
    margin-top: 13px;
    order: 2;
    width: 175px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 60px;
  }

  .reviews::after {
    position: absolute;
    bottom: -40px;
    left: 50%;
    width: 1050px;
    height: 23px;
    margin: 0 0 0 -526px;
    padding-top: 0;
    background-position: 50% 50%;
    transform: rotate(180deg);
  }

  .reviews__wrapper {
    position: relative;
    width: 1050px;
    padding: 0;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 145px;
    padding-left: 50px;
    padding-right: 0;
    box-sizing: border-box;
    background-position: 0 0;
  }

  .reviews__title {
    margin-left: 0;
    padding-left: 123px;
    padding-bottom: 0;
    padding-top: 0;
    width: 218px;
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__item {
    padding-left: 123px;
    padding-top: 45px;
  }

  .reviews__slider-controls {
    padding: 0;
    bottom: 150px;
    right: -10px;
  }

  .reviews__button {
    font-size: 17px;
    margin-top: 10px;
  }
}
