.site-list a {
  display: block;
  padding-top: 23px;
  padding-bottom: 32px;
  border-top: 1px solid #ececec;
  font-weight: 700;
  padding-left: 75px;
}

.site-list__item a:focus {
  opacity: 0.6;
}

.site-list__item a:hover {
  opacity: 0.6;
}

.site-list__item a:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;

    margin-top: 16px;
    margin-right: auto;

    order: 2;
    flex-grow: 1;
    width: 60%;
    font-size: 15px;
  }

  .site-list a {
    display: initial;
    padding: 0;
    border: none;
  }

  .site-list__item {
    margin-right: 37px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    margin-top: 0;
    padding-right: 74px;
    align-items: center;
    order: 0;
    flex-grow: 1;
    justify-content: space-between;
    width: auto;
    font-size: 17px;
  }

  .site-list__item {
    margin-right: 0;
    position: relative;
  }

  .site-list__item:first-of-type::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #ececec;
    bottom: 13px;
    left: 140px;
    width: 90px;
    transform: rotate(90deg);
  }
}
