.site-list a {
  font-family: $fonts;
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
  border-top: 1px solid #ececec;
  font-weight: 700;
}

.site-list__item a:focus {
  opacity: 0.6;
}

.site-list__item a:hover {
  opacity: 0.6;
}

.site-list__item a:active {
  opacity: 0.3;
}

.site-list__delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;

    margin-top: 16px;
    margin-right: auto;

    order: 2;
    flex-grow: 1;
    width: 60%;
  }

  .site-list a {
    display: initial;
    padding: 0;
    border: none;
  }

  .site-list__item {
    margin-right: 30px;
  }

  .site-list__delivery {
    order: 3;
    display: block;
    margin-top: 16px;
    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__delivery {
    width: 50%;
    order: 4;
    display: block;
    text-align: right;
    margin-top: 0;
  }

  .site-list {
    margin-top: 0;
    padding-right: 60px;
    align-items: center;
    order: 0;
    flex-grow: 1;
    justify-content: space-between;
    width: auto;
  }

  .site-list__item {
    margin-right: 0;
  }
}
