.site-list a {
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
  border-top: 1px solid #ececec;
}

.site-list__item a:focus {
  opacity: 0.6;
}

.site-list__item a:hover {
  opacity: 0.6;
}

.site-list__item a:active {
  opacity: 0.3;
}

.site-list__delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    width: 430px;
    margin-top: 16px;
    margin-right: auto;
    padding-left: 50px;
    order: 2;
    flex-grow: 1;
  }

  .site-list a {
    display: initial;
    padding: 0;
    border: none;
  }

  .site-list__item {
    margin-right: 30px;
  }

  .site-list__delivery {
    order: 3;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .site-list__delivery {
    order: 4;
    display: block;
    width: 525px;

    text-align: right;
  }

  .site-list {
     box-sizing: border-box;
     width: 40%;
     margin-top: 0;
     padding-left: 0;
     padding-right: 60px;
     align-items: center;
     justify-content: flex-end;
     order: 0;
     flex-grow: 1;
 }
}
