.social__list {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include reset-list;
  width: 185px;

  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0 auto;
}

.social__link:hover svg,
.social__link:focus svg {
  fill: #46c1ae;
}

.social__link:active svg {
  opacity: 0.3;
  fill: #46c1ae;
}

@media (min-width: $tablet-width) {
  .social__list {
    width: 180px;
    padding-top: 10px;
    padding-left: 80px;
  }
}
