.social__list {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include reset-list;

  padding-bottom: 30px;
  padding-top: 20px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .social__list {
    width: 250px;
  }
}
