.user-list a {
  display: block;
  font-family: $fonts;
  padding-top: 23px;
  padding-bottom: 23px;
  border-top: 1px solid #ececec;
  font-weight: 700;
  padding-left: 30px;
}

.user-list__item a:focus {
  opacity: 0.6;
}

.user-list__item a:hover {
  opacity: 0.6;
}

.user-list__item a:active {
  opacity: 0.3;
}

.user-list__item--search use {
  opacity: 0.2;
  padding-right: 20px;
}

.user-list__item--basket use {
  opacity: 0.2;
  padding-right: 20px;
}

.user-list__item--search:focus use {
  opacity: 1;
  fill: #63d1bb;
}

.user-list__item--search:hover use {
  opacity: 1;
  fill: #63d1bb;
}

.user-list__item--basket:focus use {
  opacity: 1;
  fill: #63d1bb;
}

.user-list__item--basket:hover use {
  opacity: 1;
  fill: #63d1bb;
}

.user-list__item--search:active use {
  opacity: 0.3;
  fill: #63d1bb;
}

.user-list__item--basket:active use {
  opacity: 0.3;
  fill: #63d1bb;
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    order: 1;
    width: 370px;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .user-list a {
    display: initial;
    padding: 0;
    border: none;
  }

  .user-list__item {
    display: flex;
    width: 265px;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .user-list__item--search svg {
    padding-right: 0px;
    padding-top: 10px;
  }

  .user-list__item--basket svg {
    padding-right: 38px;
  }

  .user-list__item--search {
    width: 82px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .user-list__item--hidden {
    font-size: 0;
  }

  .user-list__item--basket a {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    flex-grow: 1;
    order: 2;
  }
}
