@font-face {
  font-weight: normal;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-weight: bold;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  color: #000000;
  background: #ffffff; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  z-index: 9999999;
  position: relative; }

.page-header__logo {
  position: relative;
  padding-top: 20px;
  height: 80px;
  text-align: center; }

.page-header__logo img {
  width: 86px;
  height: 35px; }

@media (min-width: 768px) {
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .page-header__wrapper {
    min-width: 768px;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

@media (min-width: 1150px) {
  .page-header__wrapper {
    min-width: 1050px;
    max-width: 1150px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

.main-nav {
  min-height: 51px; }
  .main-nav a {
    color: black;
    text-decoration: none; }

.main-nav__wrapper {
  margin: 0 auto; }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 51px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 14px;
  background-image: url("../img/icon-menu-open.svg"); }

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0; }

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  background-image: url("../img/icon-menu-close.svg"); }

.main-nav__logo {
  height: 90px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main-nav__logo img {
  width: 113px;
  height: auto;
  cursor: pointer; }

.main-nav__logo:hover img,
.main-nav__logo:focus img {
  opacity: 0.6; }

.main-nav__logo:active img {
  opacity: 0.3; }

.main-nav__site-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__user-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__menu {
  display: none; }

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none; }
  .main-nav--closed .user-list__item {
    display: none; }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .main-nav__wrapper {
    min-height: 0; }
  .main-nav--nojs .site-list__item {
    display: block; }
  .main-nav--nojs .user-list__item {
    display: block; } }

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0; }
  .main-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .main-nav__toggle {
    display: none; }
  .main-nav__logo {
    padding-left: 0;
    width: 149px;
    min-height: 72px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-bottom: 10px; }
  .main-nav__logo img {
    width: 149px;
    height: 72px; }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-nav__menu {
    display: none; } }

@media (min-width: 1150px) {
  .main-nav__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.site-list a {
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
  border-top: 1px solid #ececec;
  font-weight: 700; }

.site-list__item a:focus {
  opacity: 0.6; }

.site-list__item a:hover {
  opacity: 0.6; }

.site-list__item a:active {
  opacity: 0.3; }

.site-list__delivery {
  display: none; }

@media (min-width: 768px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
    margin-right: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 60%; }
  .site-list a {
    display: initial;
    padding: 0;
    border: none; }
  .site-list__item {
    margin-right: 30px; }
  .site-list__delivery {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: block;
    margin-top: 16px;
    font-size: 15px; } }

@media (min-width: 1150px) {
  .site-list__delivery {
    width: 50%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    display: block;
    text-align: right;
    margin-top: 0; }
  .site-list {
    margin-top: 0;
    padding-right: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: auto; }
  .site-list__item {
    margin-right: 0; } }

.user-list a {
  display: block;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  padding-top: 23px;
  padding-bottom: 23px;
  border-top: 1px solid #ececec;
  font-weight: 700; }

.user-list__item a:focus {
  opacity: 0.6; }

.user-list__item a:hover {
  opacity: 0.6; }

.user-list__item a:active {
  opacity: 0.3; }

.user-list__item--search svg {
  opacity: 0.2; }

.user-list__item--basket svg {
  opacity: 0.2;
  padding-right: 5px; }

.user-list__item--search:focus svg {
  opacity: 1;
  fill: #63d1bb; }

.user-list__item--search:hover svg {
  opacity: 1;
  fill: #63d1bb; }

.user-list__item--basket:focus svg {
  opacity: 1;
  fill: #63d1bb; }

.user-list__item--basket:hover svg {
  opacity: 1;
  fill: #63d1bb; }

.user-list__item--search:active svg {
  opacity: 0.3;
  fill: #63d1bb; }

.user-list__item--basket:active svg {
  opacity: 0.3;
  fill: #63d1bb; }

@media (min-width: 768px) {
  .user-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 370px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .user-list a {
    display: initial;
    padding: 0;
    border: none; }
  .user-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 220px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .user-list__item--search {
    width: 82px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec; }
  .user-list__item--hidden {
    font-size: 0; }
  .user-list__item--basket a {
    margin-left: auto; } }

@media (min-width: 1150px) {
  .user-list {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; } }

.menu__item a {
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 700; }

.menu__item a:hover {
  opacity: 0.6; }

.menu__item a:focus {
  opacity: 0.6; }

.menu__item a:active {
  opacity: 0.3; }

@media (min-width: 1150px) {
  .menu {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .menu__item {
    padding-right: 30px; } }

.page-main {
  padding-top: 40px;
  width: 100%; }

.products {
  width: 100%;
  margin-top: -21px;
  margin-bottom: 27px;
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto 373px;
  background-position: 50% 0;
  border-top: 1px solid #ececec; }

.products__title {
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 100px;
  font-size: 27px;
  color: #010000;
  line-height: 30px;
  text-align: center; }

.products__wrapper {
  width: 320px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.products__link {
  padding-left: 30px;
  padding-right: 30px; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .products {
    background-image: url("../img/hero-mobile@2x.jpg"); } }

.products__list {
  padding-top: 40px; }
  .products__list a {
    font-size: 19px;
    color: #ffffff;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Open-Sans-Bold", "Arial", sans-serif; }

.products__item {
  padding-top: 20px;
  padding-bottom: 20px; }
  .products__item--interior {
    background-color: #63d1bb; }
  .products__item--toys {
    background-color: #56c3b2; }

.products__link--interior svg {
  opacity: 0.5;
  fill: #149080; }

.products__link--toys svg {
  opacity: 0.5;
  fill: #149080; }

.products__link--interior:hover svg {
  opacity: 0.7; }

.products__link--toys:hover svg {
  opacity: 0.7; }

@media (min-width: 768px) {
  .products {
    position: relative;
    min-height: 660px;
    margin-top: -68px;
    margin-bottom: 45px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: auto 744px;
    background-position: center; }
  .products::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    display: block;
    width: 100%;
    height: 23px;
    max-height: 23px;
    padding-top: 0;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 768px 100%;
    background-position: 50% 100%; }
  .products__wrapper {
    min-width: 768px;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .products {
    background-image: url("../img/hero-tablet@2x.jpg"); } }

@media (min-width: 768px) {
  .products__title {
    min-height: 630px; }
  .products__list {
    width: 668px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .products__item {
    width: 50%; } }

@media (min-width: 1150px) {
  .products {
    margin-bottom: 35px;
    margin-top: -72px;
    background-image: url("../img/hero-desktop@1x.jpg"); }
  .products__wrapper {
    min-width: 1050px;
    max-width: 1150px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
  .products {
    background-image: url("../img/hero-desktop@2x.jpg"); } }

@media (min-width: 1150px) {
  .products__list {
    width: 1050px; } }

.promo {
  position: relative;
  padding-bottom: 42px; }

.promo::after {
  content: "";
  position: absolute;
  background-image: url("../img/bg-zigzag-line.svg");
  width: 100%;
  height: 7px;
  bottom: 0;
  background-repeat: repeat-x;
  background-size: 320px 100%;
  background-position: 50% 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.promo__wrapper {
  width: 260px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.promo__name {
  padding-bottom: 23px; }

.promo__title {
  margin: 0;
  color: #010000;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 4px; }

.promo__item-of-week {
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb; }

.promo__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 18px; }

.promo__list {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  border-collapse: collapse;
  margin-bottom: 28px; }

.promo__feature {
  border-bottom: 1px solid #ececec; }

.promo__characteristic {
  padding-right: 13px;
  padding-top: 8px;
  padding-bottom: 11px; }

.promo__picture {
  width: 260px;
  height: 315px;
  background-color: #fbfbfb;
  margin-bottom: 25px; }

.promo__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  padding-bottom: 25px;
  margin: 0; }

@media (min-width: 768px) {
  .promo {
    padding-bottom: 15px;
    margin-bottom: 49px; }
  .promo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 768px;
    height: 17px;
    max-height: 23px;
    margin: 0;
    margin-top: 26px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .promo__wrapper {
    width: 668px;
    margin: 0 auto; }
  .promo__elements-wrapper {
    min-width: 662px;
    height: 465px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap; }
  .promo__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding-bottom: 30px; }
  .promo__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 282px;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 35px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    color: #444444; }
  .promo__list {
    border-collapse: collapse;
    width: 290px;
    margin-left: 0;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 56px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .promo__price {
    width: 287px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Open-Sans-Bold", "Arial", sans-serif;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 34px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .promo__button {
    width: 290px;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    padding-top: 14px;
    padding-bottom: 14px; }
  .promo__title {
    font-family: "Open-Sans-Bold", "Arial", sans-serif;
    font-size: 43px;
    line-height: 50px;
    color: #000000; }
  .promo__characteristic {
    width: 67px;
    padding-right: 26px;
    padding-bottom: 11px; }
  .promo__item-of-week {
    width: 70px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-right: 28px;
    text-align: center;
    line-height: 17px;
    color: #63d1bb; }
  .promo__picture {
    width: 333px;
    height: 404px;
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 8px;
    margin-bottom: 0; }
  .promo__picture img {
    width: 333px;
    height: 404px; }
  .promo__feature {
    width: 300px;
    color: #444444; } }

@media (min-width: 1150px) {
  .promo {
    margin-bottom: 23px;
    background-size: 0; }
  .promo::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1050px;
    height: 23px;
    margin: 0;
    margin-left: -526px;
    padding-top: 0;
    background-position: 50% 50%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .promo__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-bottom: 90px; }
  .promo__elements-wrapper {
    position: relative;
    max-width: 1050px;
    min-height: 700px; }
  .promo__name {
    width: 610px;
    position: absolute;
    z-index: 1;
    padding-top: 90px;
    padding-bottom: 37px;
    padding-left: 45px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .promo__item-of-week {
    padding-right: 0;
    padding-top: 15px; }
  .promo__title {
    font-size: 53px;
    line-height: 57px; }
  .promo__description {
    padding-top: 195px;
    padding-left: 175px;
    padding-bottom: 49px; }
  .promo__list {
    width: 296px;
    margin-left: 173px; }
  .promo__price {
    width: 150px;
    padding-bottom: 35px;
    padding-left: 245px; }
  .promo__button {
    margin-left: 176px; }
  .promo__characteristic {
    padding-top: 8px;
    padding-bottom: 11px;
    padding-right: 30px; }
  .promo__value {
    padding-top: 8px;
    padding-bottom: 11px; }
  .promo__picture {
    width: 525px;
    height: 636px;
    margin-top: 38px; }
  .promo__picture img {
    width: 525px;
    height: 636px; } }

.about {
  width: 100%; }

.about__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.about__title {
  font-size: 25px;
  line-height: 30px;
  text-align: left; }

.about__list {
  margin: 0;
  padding: 0;
  list-style: none; }

@media (min-width: 768px) {
  .about__wrapper {
    min-width: 768px;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 1150px) {
  .about__wrapper {
    min-width: 1050px;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 170px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 30px;
  padding-top: 20px;
  margin: 0 auto; }

.social__link:hover svg,
.social__link:focus svg {
  fill: #46c1ae; }

.social__link:active svg {
  opacity: 0.3;
  fill: #46c1ae; }

@media (min-width: 768px) {
  .social__list {
    width: 250px; } }

.copyright {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center; }

.copyright__text {
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 19px;
  line-height: 18px;
  text-align: left;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  cursor: pointer; }

.copyright__text:active {
  opacity: 0.3; }

.copyright__link svg {
  fill: #63d1bb; }

.copyright:hover svg,
.copyright:focus svg {
  fill: #46c1ae; }

.copyright:active svg {
  opacity: 0.3;
  fill: #46c1ae; }

@media (min-width: 768px) {
  .copyright {
    padding-top: 0;
    padding-bottom: 0; } }

.page-catalog__title {
  position: relative;
  margin: 0;
  margin-top: -30px;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
  border-top: 1px solid #dfdfdf; }

@media (min-width: 768px) {
  .page-catalog__title::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 24px;
    max-height: 34px;
    margin-top: 2.95652%;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 768px 100%;
    background-position: 50% 100%; } }

@media (min-width: 1150px) {
  .page-catalog__title::after {
    bottom: -2px;
    height: 37px;
    max-height: 37px;
    padding-top: 0;
    background-repeat: repeat-x;
    background-position: 50% 50%;
    background-size: 1150px 100%; } }

.catalog {
  width: 100%; }

.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 30px; }

@media (min-width: 768px) {
  .catalog__wrapper {
    width: 668px;
    margin: 0 auto;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 1150px) {
  .catalog__wrapper {
    width: 1050px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.page-footer {
  width: 100%;
  min-height: 160px;
  background-color: #f1f1f1; }

.page-footer__wrapper {
  width: 320px;
  min-height: 160px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.page-footer__logo {
  display: none; }

.page-footer__social {
  padding-top: 25px;
  border-bottom: 1px solid #e5e5e5; }

.page-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media (min-width: 768px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .page-footer__wrapper {
    width: 668px;
    margin: 0 auto;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .page-footer__social {
    border-bottom: none; }
  .page-footer__logo {
    display: block; }
  .page-footer__logo svg {
    cursor: pointer; }
  .page-footer__logo:hover svg,
  .page-footer__logo:focus svg {
    fill: #46c1ae; }
  .page-footer__logo:active svg {
    fill: #46c1ae;
    opacity: 0.3; } }

@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: 1050px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

.product {
  border: 1px solid #ececec;
  margin-top: 30px;
  padding-bottom: 20px; }

.product__text {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Open-Sans-Bold", "Arial", sans-serif; }

.product__description {
  border-bottom: 1px solid #eeeeee; }

.product__title {
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  font-weight: 700; }

.product__parameter {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: left; }

.product__price {
  font-size: 15px;
  line-height: 24px;
  text-align: left; }

.product__buy {
  padding-top: 30px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.product__basket svg {
  opacity: 0.2; }

.product__basket:hover svg,
.product__basket:focus svg {
  opacity: 1;
  fill: #63d1bb; }

.product__basket:active svg {
  opacity: 0.3;
  fill: #63d1bb; }

@media (min-width: 768px) {
  .product {
    padding-bottom: 0; }
  .product__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 55px; }
  .product__text {
    width: 250px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 32px; }
  .product__description {
    width: 100%;
    padding-bottom: 100px; }
  .product__buy {
    width: 100%;
    padding-right: 0; } }

@media (min-width: 1150px) {
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 20px; }
  .product__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 316px; }
  .product__text {
    min-height: 0; }
  .product__title {
    min-height: 50px; }
  .product__picture {
    width: 316px;
    height: 462px; }
  .product__description {
    padding: 25px 0 14px; }
  .product__buy {
    padding: 23px 0; } }

.features__item {
  padding-bottom: 30px; }

.features__text {
  padding-top: 50px;
  font-size: 17px;
  line-height: 20px;
  text-align: left; }

.features__item {
  position: relative; }

.features__item--ecology::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 37px;
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  background-size: 31px 37px; }

.features__item--scandinavian::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 27px;
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
  background-size: 46px 27px; }

.features__item--like::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 27px;
  background-image: url("../img/icon-feature-heart.svg");
  background-size: 33px 27px; }

.features__item--handmade::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
  background-size: 34px 34px; }

.features__item--national::before {
  content: "";
  position: absolute;
  width: 54px;
  height: 23px;
  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
  background-size: 54px 23px; }

.features__item--gift::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px; }

@media (min-width: 768px) {
  .features {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto; }
  .features__item {
    width: 50%; }
  .features__text {
    margin: 0; }
  .features__item--ecology {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .features__item--scandinavian {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .features__item--like {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .features__item--handmade {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .features__item--national {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .features__item--gift {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; } }

.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 25px; }

.comment__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 27px; }

.order-form__entry {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 25px; }

@media (min-width: 768px) {
  .order-form__entry {
    width: 668px;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .order-form__checkbox {
    background-color: #f1f1f1; } }

@media (min-width: 1150px) {
  .order-form__entry {
    width: 1050px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

.button {
  width: 259px;
  height: 52px;
  font-size: 17px;
  line-height: 20px;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  color: #444444;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer; }

.button:hover {
  color: #ffffff;
  background-color: #444444; }

.button:active {
  color: #7c7c7c;
  background-color: #444444; }

.form__title {
  position: relative;
  margin: 0;
  min-height: 100px;
  margin-top: -30px;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
  border-top: 1px solid #dfdfdf; }

@media (min-width: 768px) {
  .form__title::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 24px;
    max-height: 34px;
    margin-top: 2.95652%;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 768px 100%;
    background-position: 50% 100%; } }

@media (min-width: 1150px) {
  .form__title::after {
    bottom: -2px;
    height: 37px;
    max-height: 37px;
    padding-top: 0;
    background-repeat: repeat-x;
    background-position: 50% 50%;
    background-size: 1150px 100%; } }

.form-radio__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.form-radio__name {
  color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase; }

.form-radio__label {
  color: #000000;
  font-size: 17px;
  line-height: 18px; }

.form-radio__selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-top: 32px;
  padding-bottom: 19px; }

.form-radio__selection label {
  position: relative;
  padding-bottom: 24px;
  cursor: pointer;
  padding-left: 82px;
  font-size: 19px;
  line-height: 18px; }

.form-radio__selection label:hover::before {
  border-color: #62d1ba; }

.form-radio__selection label:active::before {
  border-color: #444444;
  opacity: 0.3; }

.form-radio__selection label::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer; }

.form-radio__selection input:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 12px;
  width: 16px;
  height: 17px;
  background: #62d1ba;
  border-radius: 50%;
  cursor: pointer; }

@media (min-width: 768px) {
  .form-radio__wrapper {
    width: 668px;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .form-radio__name {
    padding-top: 60px; } }

@media (min-width: 1150px) {
  .form-radio__wrapper {
    width: 1050px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

.form-checkbox__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.form-checkbox__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 15px; }

.form-checkbox__name {
  color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase; }

.form-checkbox__selection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 35px; }

.form-checkbox__selection label {
  position: relative;
  padding-left: 62px;
  color: #000000;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  padding-bottom: 15px; }

.form-checkbox__filter label::before {
  top: -12px;
  left: 20px;
  width: 50px;
  height: 48px; }

.form-checkbox__filter input:checked + label::after {
  top: 4px;
  left: 31px;
  width: 33px;
  height: 22px;
  background-size: 33px 22px; }

.form-checkbox__selection label::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid #000000;
  cursor: pointer; }

.form-checkbox__selection input:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 9px;
  width: 22px;
  height: 17px;
  background: url("../img/icon-tick.svg") no-repeat 50% 50%;
  background-size: 22px 17px;
  cursor: pointer; }

.form-checkbox__selection label:hover::before {
  border-color: #62d1ba; }

.form-checkbox__selection label:active::before {
  border-color: #444444;
  opacity: 0.3; }

@media (min-width: 768px) {
  .form-checkbox__wrapper {
    width: 668px;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .form-checkbox__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .form-checkbox__name {
    padding-top: 60px; } }

@media (min-width: 1150px) {
  .form-checkbox__wrapper {
    width: 1050px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

.form-client__name {
  padding-bottom: 10px; }

.form-client__name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 22px; }

.form-client__title {
  color: #63d1bb;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase; }

.form-client__item--phone {
  position: relative;
  padding-bottom: 15px; }

.form-client__parameter input {
  width: 100%;
  padding-bottom: 16px;
  border: 0;
  border-bottom: 2px solid #000000;
  outline: 0;
  font-size: 17px;
  line-height: 18px; }

.form-client__parameter--phone input {
  font-size: 19px;
  line-height: 18px;
  padding-bottom: 13px; }

.form-client__item--full-name {
  position: relative;
  padding-bottom: 28px; }

.form-client__item--mail {
  position: relative;
  padding-bottom: 22px; }

.form-client__item--more-info {
  position: relative;
  padding-bottom: 24px; }

.form-client__parameter-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.form-client__more-info-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.form-client__phone-wrapper {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.form-client__mail-wrapper {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.form-client__info-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.form-client__parameter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.form-client__textarea {
  padding: 14px;
  outline: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  border: 2px solid #ececec; }

.form-client__required {
  padding-top: 16px;
  padding-bottom: 33px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px; }

.form-client__more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.form-client__parameter-inner {
  position: relative;
  padding-bottom: 32px; }

.form-client__name-wrapper label {
  color: #000000;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  padding-bottom: 15px; }

.form-client__item {
  position: relative; }

.form-client__input::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.3; }

.form-client__input:-ms-input-placeholder {
  color: #000000;
  opacity: 0.3; }

.form-client__input::-ms-input-placeholder {
  color: #000000;
  opacity: 0.3; }

.form-client__input::placeholder {
  color: #000000;
  opacity: 0.3; }

.form-client__textarea::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.3; }

.form-client__textarea:-ms-input-placeholder {
  color: #000000;
  opacity: 0.3; }

.form-client__textarea::-ms-input-placeholder {
  color: #000000;
  opacity: 0.3; }

.form-client__textarea::placeholder {
  color: #000000;
  opacity: 0.3; }

.form-client__input:hover,
.form-client__input:active {
  border-color: #62d1ba; }

.form-client__input:active::-webkit-input-placeholder {
  border-color: #62d1ba;
  opacity: 1; }

.form-client__input:active:-ms-input-placeholder {
  border-color: #62d1ba;
  opacity: 1; }

.form-client__input:active::-ms-input-placeholder {
  border-color: #62d1ba;
  opacity: 1; }

.form-client__input:active::placeholder {
  border-color: #62d1ba;
  opacity: 1; }

.form-client__parameter-inner:active svg,
.form-client__parameter-inner:hover svg {
  fill: #62d1ba;
  opacity: 1; }

.form-client__input:active::-webkit-input-placeholder {
  border-color: #62d1ba;
  opacity: 1; }

.form-client__input:active:-ms-input-placeholder {
  border-color: #62d1ba;
  opacity: 1; }

.form-client__input:active::-ms-input-placeholder {
  border-color: #62d1ba;
  opacity: 1; }

.form-client__input:active::placeholder {
  border-color: #62d1ba;
  opacity: 1; }

.form-client__textarea:hover {
  border-color: #62d1ba; }

.form-client__textarea:active::-webkit-input-placeholder {
  border-color: #62d1ba;
  opacity: 1; }

.form-client__textarea:active:-ms-input-placeholder {
  border-color: #62d1ba;
  opacity: 1; }

.form-client__textarea:active::-ms-input-placeholder {
  border-color: #62d1ba;
  opacity: 1; }

.form-client__textarea:active::placeholder {
  border-color: #62d1ba;
  opacity: 1; }

.form-client__parameter-inner svg {
  position: absolute;
  top: 2px;
  right: 9px;
  opacity: 0.2; }

.form-client__button-wrapper {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .form-client__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 668px;
    padding: 0 50px;
    margin: 0 auto; }
  .form-client__item--full-name {
    padding-top: 65px; }
  .form-client__parameter-wrapper {
    width: 680px;
    padding: 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .form-client__name {
    width: 400px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 59px;
    padding-left: 125px;
    padding-bottom: 15px; }
  .form-client__name-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 33px; }
  .form-client__name-wrapper label {
    padding-top: 6px;
    padding-right: 26px;
    font-size: 19px;
    line-height: 18px; }
  .form-client__parameter input {
    padding-bottom: 14px;
    padding-left: 15px;
    padding-right: 82px;
    font-size: 19px;
    line-height: 18px;
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-color: inherit; }
  .form-client__info {
    background-color: #f1f1f1; }
  .form-client__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 50px; }
  .form-client__mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 50px; }
  .form-client__phone-wrapper {
    width: 680px;
    padding: 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .form-client__mail-wrapper {
    width: 680px;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .form-client__parameter--phone {
    width: 100%;
    padding-top: 60px;
    padding-left: 122px;
    padding-right: 0; }
  .form-client__parameter--mail {
    width: 100%;
    padding-top: 33px;
    padding-left: 100px;
    padding-right: 0; }
  .form-client__parameter textarea {
    font-size: 19px;
    line-height: 18px;
    padding-bottom: 16px; }
  .form-client__item--phone {
    width: 60px;
    padding-top: 68px; }
  .form-client__item--mail {
    width: 90px;
    padding-top: 42px;
    padding-bottom: 18px; }
  .form-client__more-info-wrapper {
    width: 668px;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .form-client__item--more-info {
    padding-top: 18px;
    width: 60px; }
  .form-client__parameter--more-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 35px;
    padding-left: 122px;
    padding-right: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .form-client__button-wrapper {
    width: 668px;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .form-client__required {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 26px; }
  .form-client__button {
    width: 230px; }
  .form-client__parameter-inner svg {
    right: 22px; } }

@media (min-width: 1150px) {
  .form-client__parameter-wrapper {
    width: 1050px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .form-client__phone-wrapper {
    width: 1050px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .form-client__mail-wrapper {
    width: 1050px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .form-client__more-info-wrapper {
    width: 1050px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .form-client__button-wrapper {
    width: 1050px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

/*# sourceMappingURL=style.css.map */
