.catalog-products__list {
  @include reset-list;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.catalog-products__item {
  padding-top: 30px;
}

.catalog-products__item-text {
  padding-left: 20px;
}

.catalog-products__title {
  font-size: 17px;
  line-height: 24px;
  text-align: left;
}

.catalog-products__parameter {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}

.catalog-products__price {
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

.catalog-products__buy {
  padding-top: 30px;
}
