.main-nav {
  width: 320px;
  margin: 0 auto;

  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
}

.main-nav__list {
  @include reset-list;
}
@media (min-width: $tablet-width) {
  .main-nav {
    order: 2;
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    width: 668px;
    margin: 0 auto;
  }

  .main-nav__list {
    display: flex;
  }
}
@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1050px;
  }
}
